@media all {
  .lightbox { display: none; }
}

section{
  padding-top: 30px;
}

#navbar-inprogress{
  padding-left:55px;
}
.device-mockup.iphone6_plus, .device-mockup.iphone6_plus.portrait{
  padding-bottom: 0;
}
/*Header Section */
.header-content-inner{
  text-align: center;
}
#AoI-data {
  animation-duration: 2s;
}
#AoI-bio {
  animation-duration: 2s;
  animation-delay: 1s;
}
#AoI-cs{
  animation-duration: 2s;
  animation-delay: 2s;
}

/*CV Section */
.wrapper{
  text-align: left;
}
.skill-bar-percent{
  display: none;
}
.skillbar-extra{
  margin-left: 25%;
}
section.download {
    padding: 35px 0;
    position: relative;
    background: white;
    border-bottom-width: 7px;
    border-bottom-style: solid;;
    border-bottom-color: #005C97;
    border-bottom-color: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
    border-bottom-color: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.download h2{
  color: #ab3363;
}
#wrapper-top{
  margin-bottom: 0;
}
#wrapper-bottom{
  margin-top: 0;
}
#cv-pheader{
  font-size: 15px;
  color: #777;
}
#skillbar-pTitles{
  color: #ab3363;
  text-decoration: underline;
}
#skillbar-p{
  color: #ab3363;
}

#btn-cv{
  color: #777;
  border-color: #777;
  border: 1px solid;
}
.btn-cv:hover,
.btn-cv:focus,
.btn-cv:active,
.btn-cv.active{
  color: #ffffff!important;
  background-color: #ab3363;
}
#image-top{
  border-radius: 35px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}
#p1{
  margin-top: 20%;
  text-decoration: underline;
}
section.features, .section-heading{
  margin-bottom: 20px!important;
}
section.features h2{
    color: #ab3363;
}
.github-widget{
  margin-bottom: 2%;
}
#row-latest{
  margin-top:5%;
  margin-bottom: 10px;
}
#contact{
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: url(../img/bg-pattern.png),#7b4397;
    background: url(../img/bg-pattern.png),-webkit-linear-gradient(to left,#7b4397,#dc2430);
    background: url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430);
    color: #fff;
    text-align: center;
}
#contact-p{
  font-size: 1.5em;
}
#iframes-title{
color: #ab3363;
text-decoration: underline;
}
#fl2{
  margin-top: 20px;
}
.featherlight-inner{
  width: 100%;
  height:inherit;
}
@media only screen and (min-width: 320px) {
  .featherlight-content{
    width:320px;
    height:500px;
  }
}
@media only screen and (min-width: 375px) {
  .featherlight-content{
    width:375px;
    height:500px;
  }
}
@media only screen and (min-width: 425px) {
  .featherlight-content{
    width:425px;
    height:500px;
  }
}
@media only screen and (min-width: 768px){
.featherlight-content{
  width:750px;
  height:600px;
}
}
@media only screen and (min-width: 992px){
.featherlight-content{
  width:970px;
  height:600px;
}
}
@media only screen and (min-width: 1200px) {
  .featherlight-content{
    width:1200px;
    height:800px;
  }
}
