
#navbar-inprogress{
  padding-left:55px;
}

/*Header Section */
.header-content-inner{
  text-align: center;
}

.device-mockup.iphone6_plus.portrait>.device>.screen, .device-mockup.iphone6_plus>.device>.screen {
    top: 13.20%;
    bottom: 7.58%;
    left: 6.30%;
    right: 5.97%;
}


/*CV Section */
section.download {
    padding: 35px 0;
    position: relative;
    background: white;
    border-bottom-width: 7px;
    border-bottom-style: solid;;
    border-bottom-color: #005C97;
    border-bottom-color: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
    border-bottom-color: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.download h2{
  color: #ab3363;
}

#btn-cv{
  color:#ab3363;
  border-color: #ab3363;
  border: 1px solid;
}
.btn-cv:hover,
.btn-cv:focus,
.btn-cv:active,
.btn-cv.active{
  color: #ffffff!important;
  background-color: #ab3363;
}
#image-top{
  border-radius: 35px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}
#p1{
  margin-top: 20%;
  text-decoration: underline;
}
#AoI-data {
  animation-duration: 2s;
}
#AoI-bio {
  animation-duration: 2s;
  animation-delay: 1s;
}
