<div class="container">
  <div class="row" style="background:pink;height:700px;">
    <a name="home"></a>
    <h1>Hi, I'm Adrian</h1>
  </div>
  <div class="row" style="background:blue;height:600px;">
    <a name="portfolio"></a>
    <p>
      something
    </p>
  </div>
    <div class="row" style="background:grey;color:white;height:600px;">
      <a name="about"></a>
      <p>
        about something
      </p>
    </div>
    <div class="row" style="background:green;color:red;height:600px;">
      <a name="contact"></a>
      <p>
        about something
      </p>
    </div>
</div>
